<% provide(:title, "ユーザー一覧") %>
<% breadcrumb :users_list %>
<div class="whole">
  <div class="title">
    <div class="title-container">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <h2>ユーザー一覧</h2>
      <p>ユーザー一覧では、アカウント作成済みの全ユーザーを掲載しています。並び替えや絞り込み、テキスト検索が可能です。</p>
    </div>
  </div>
  <div class="main">
    <div class="main-container">
      <div class="users">
        <%= render @users %>
      </div>
    </div>
  </div>
</div>
