<div class="flash-blue">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
</div>
<div class="flash-red">
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>
