<% provide(:title, "お問い合わせ結果") %>
<% breadcrumb :contacts_new %>
<div class="whole">
  <div class="title">
    <div class="title-container">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <h2>お問い合わせ結果</h2>
    </div>
  </div>
  <div class="main">
    <div class="main-container">
      <p>ありがとうございます。お問い合わせが完了しました。</p>
    </div>
  </div>
</div>
