<div class="flash-blue">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
</div>
<div class="flash-red">
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>
<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
