* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: #000;
  background-color: #f9fbfe;
}
a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}
li {
  list-style-type: none;
}
hr {
  height: 1px;
  background-color: #eaedef;
  border: none;
  margin: 30px 0;
}
table {
  border-collapse: collapse;
  border: none;
}
td,th {
  border: none;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}
td:first-child,th:first-child {
  border-left:none;
}
tr:first-child td,tr:first-child th {
  border-top:none;
}
.button {
  width: fit-content;
  display: inline-block;
  border: 1px solid #fff450;
  border-radius: 5px;
  padding: 8px;
  font-size: 0.9rem;
  transition: all .3s;
  color: #fff450;
}
.button:hover {
  letter-spacing: 1px;
}
.hover-textdecoration:hover {
  text-decoration: underline;
}
.hover-brightness:hover {
  filter: brightness(1.4);
}
.hover-opacity:hover {
  opacity: 0.6;
}
.hover-color-red:hover {
  color: rgb(245, 69, 98);
}
.hover-i-color-red:hover {
  i {
    color: rgb(245, 69, 98);
  }
}

/*=== FONT AWESOME ===*/
.fas {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}
.far {
  font-weight: 400;
  font-family: "Font Awesome 6 Free";
}
.font-awesome-color-black {
  color:#000;
}
.font-awesome-size-105 {
  font-size: 1.05rem;
}

/*=== HEADER ===*/
header {
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.5);
  font-size: 0.8rem;
  letter-spacing: 1px;
  z-index: 100;
}
.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  a {
    font-weight: bold;
    margin: 0 9px;
    transition: all .2s;
  }
  a:hover {
    opacity: 0.6;
  }
}
.under-header {
  height: 48px;
}

/*=== FOOTER ===*/
footer {
  text-align: center;
  width: 100%;
  background-color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  border-top: 1px solid #eee;
  padding: 15px 0;
  position: sticky;
  top: 100vh;
}
