/*=== 汎用 ===*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-break: break-word;
}
html,
body {
  height: 100%;
  color: #333;
  background-image: url("/background_images/background_image_2.png");
}
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}
.link-color-blue {
  color: rgb(89, 89, 255);
}
li {
  list-style-type: none;
}
hr {
  height: 1px;
  background-color: #eaedef;
  border: none;
  margin: 30px 0;
}
.hr-black {
  background-color: #333;
}
table {
  border-collapse: collapse;
}
textarea {
  font-family : "Arial", "Hiragino Kaku Gothic ProN";
  font-size : 13.3px;
  min-height: 200px;
  display: block;
  resize: vertical;
}
.button {
  width: fit-content;
  display: inline-block;
  border: 1px solid #fff450;
  border-radius: 5px;
  padding: 8px;
  font-size: 0.9rem;
  transition: all .3s;
  text-align: center;
}
.button:hover {
  transform: scale(1.03);
}
.input-file {
  border: none !important;
  padding: 0 !important;
  height: auto !important;
}
.hover-textdecoration:hover {
  text-decoration: underline;
}
.hover-brightness:hover {
  filter: brightness(1.3);
}
.hover-opacity:hover {
  opacity: 0.8;
}
.hover-transform:hover {
  transform: scale(1.03);
}
.font-weight-bold {
  font-weight: bold;
}
.radius-50 {
  img {
    border-radius: 50%;
  }
}
.breadcrumbs {
  padding-bottom:18px;
  font-size: 0.85rem;
  a {
    color: #fff;
  }
  a:hover {
    text-decoration: underline;
  }
}
.fixed_to_post_link {
  position: fixed;
  right: 40px;
  bottom: 55px;
  z-index: 100;
  opacity:0.75;
  background: repeating-linear-gradient(45deg, #333, #333 20px, #3c3c3c 20px, #3c3c3c 40px);
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff450;
  font-size: 0.9rem;
  font-weight: bold;
  transition: .3s;
}
@media screen and (max-width: 960px) {
  .fixed_to_post_link {
    right: 35px;
    bottom: 35px;
  }
}
@media screen and (max-width: 520px) {
  .fixed_to_post_link {
    right: 17px;
    bottom: 17px;
  }
}
.fixed_to_post_link:hover{
  opacity:1;
}

/*=== 汎用テンプレート ===*/
.whole {
  width: 100%;
}
.title {
  background-image: url("/background_images/background_image_4.png");
}
.title-container {
  max-width: 970px;
  padding: 30px 10px 25px;
  margin: 0 auto;
  color: #fff;
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 520px) {
  .title-container {
    h2 {
      font-size: 1.6rem;
    }
  }
}
.flash-blue {
  background-color: rgb(137, 137, 255);
}
.flash-red {
  background-color: rgb(253, 90, 90);
}
.flash-blue,
.flash-red {
  p {
      max-width: 970px;
      padding: 7px 10px;
      margin: 0 auto;
      color: #fff;
      font-size: 0.9rem;
  }
}
.flash-top {
  text-align: center;
}
.main {
  padding: 40px 10px;
}
.main-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-color: #333;
}
@media screen and (max-width: 520px) {
  .main-container {
    padding: 20px 15px;
  }
}
.main-container-h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin-bottom: 10px;
  padding-left: 7px;
  border-left: 2px solid #333;
}
@media screen and (max-width: 520px) {
  .main-container-h3 {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}

/*=== 汎用フォーム ===*/
#error_explanation {
  margin-bottom: 15px;
  h2 {
    font-size: 1rem;
    margin-bottom: 5px;
    padding: 0 5px;
    width: fit-content;
    background-color: red;
    color: #fff;
  }
  li {
    list-style: disc;
    list-style-position:inside;
    font-size: 0.9rem;
    color: red;
  }
}
.forms-container {
  padding-top: 15px;
}
.forms {
  label {
    font-size: 0.9rem;
  }
}
.forms-supplement {
  font-size: 0.9rem;
}
.field {
  margin-bottom: 13px;
  input {
    margin-top: 2px;
    width: 300px;
    height: 35px;
    padding: 8px;
    border: 1px solid #333;
  }
  input:focus {
    border-color: rgb(89, 89, 255);
    box-shadow: 0 0 5px 0 rgb(89, 89, 255);
    outline: 0;
    transition: all .3s;
  }
}
@media screen and (max-width: 520px) {
  .field {
    input {
      width: 100%;
    }
  }
}
.required-message,
.required-message-select,
.required-message-radio {
  font-size: 0.8rem;
  color: red;
}
.required-message,
.required-message-select {
  display: none;
}
input:invalid + .required-message,
select:invalid + .required-message-select {
  display: block;
}
.checkbox-and-label {
  input {
    width: 21px;
    height: 21px;
    margin-right: 5px;
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }
  p {
    display: flex;
    align-items: center;
  }
  p:nth-child(2) {
    margin-top: 15px;
  }
}
.actions {
  margin-top: 25px;
  input {
    width: 300px;
    padding: 8px 20px;
    height: 40px;
    border: 1px solid #333;
    font-size: 0.9rem;
    transition: all .3s;
    text-align: center;
    color: #fff450;
    background: repeating-linear-gradient(135deg, #333, #333 20px, #3c3c3c 20px, #3c3c3c 40px);
    cursor: pointer;
  }
}
@media screen and (max-width: 520px) {
  .actions {
    input {
      width: 100%;
    }
  }
}
.form-line-left {
  font-size: 0.85rem;
  font-weight: bold;
}
.form-line-right {
  font-size: 0.95rem;
  input,
  select {
    height: 35px;
  }
  input,
  textarea {
    padding: 8px;
    border: 1px solid #333;
  }
  input:focus,
  textarea:focus,
  select:focus {
    border-color: rgb(89, 89, 255);
    box-shadow: 0 0 5px 0 rgb(89, 89, 255);
    outline: 0;
    transition: all .3s;
  }
  select {
    padding: 8px 3px;
    border: 1px solid #333;
    width: 68%;
  }
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.form-line-supplement {
  font-size: 0.8rem;
  color: red;
}
.length-supplement {
  font-size: 0.8rem;
}
.form-line-submit {
  margin-top: 25px;
  input {
    width: 100%;
    padding: 8px 20px;
    height: 40px;
    border: 1px solid #333;
    font-size: 0.9rem;
    transition: all .3s;
    text-align: center;
    color: #fff450;
    background: repeating-linear-gradient(135deg, #333, #333 20px, #3c3c3c 20px, #3c3c3c 40px);
    cursor: pointer;
  }
}
@media screen and (max-width: 630px) {
  .form-line {
    margin-bottom: 13px;
  }
  .form-line-left {
    width: 100%;
    margin-bottom: 3px;
  }
  .form-line-right {
    p,
    input,
    textarea,
    select {
      width: 100%;
    }
  }
}
@media screen and (min-width: 631px) {
  .form-line {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  .form-line:nth-last-child(n+3) {
    border-bottom: 1px solid #333;
  }
  .form-line-left {
    width: 27%;
  }
  .form-line-right {
    width: 73%;
    input {
      width: 68%;
    }
    textarea {
      width: 68%;
    }
  }
  .length-supplement {
    display: block;
  }
  .checkbox-and-label {
    margin-top: 20px;
  }
}
.under-forms {
  font-size: 0.8rem;
}

/*=== 汎用テーブル ===*/
.common-table {
  margin-bottom: 30px;
  font-size: 0.9rem;
  table {
    width: 100%;
  }
  th,
  td {
    padding: 7px;
    border: 1px solid #333;
  }
  th {
    width: 15%;
    background-color: rgba($color: #333, $alpha: 0.3);
  }
  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    display: block;
    margin-right: 5px;
  }
}
@media screen and (max-width: 960px) {
  .common-table {
    th {
      width: 20%;
    }
  }
}
@media screen and (max-width: 520px) {
  .common-table {
    font-size: 0.85rem;
    th {
      width: 25%;
    }
  }
}
@media screen and (max-width: 430px) {
  .common-table {
    font-size: 0.8rem;
    th {
      width: 20%;
    }
  .in-td-gp 
    img {
      width: 35px;
      height: 35px;
    }
  }
}

/*=== FONT AWESOME ===*/
.fas {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}
.far {
  font-weight: 400;
  font-family: "Font Awesome 6 Free";
}
.font-awesome-color-black {
  color:#333;
}
.font-awesome-size-105 {
  font-size: 1.05rem;
}

/*=== HEADER ===*/
header {
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.5);
  font-size: 0.8rem;
  letter-spacing: 1px;
  z-index: 100;
}
.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  span {
    cursor: pointer;
  }
  a,
  span.nav_toggle,
  span.nav_toggle_sp {
    height: 48px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0 9px;
    transition: all .2s;
  }
  a:hover,
  span.nav_toggle:hover,
  span.nav_toggle_sp:hover {
    opacity: 0.8;
    box-shadow: inset 0 -4px 0 0 #2db68f
  }
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
}
.header-right {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgb(247, 247, 247);
    object-fit: cover;
    margin-right: 5px;
  }
}
.header-home {
  font-size: 1.2rem;
}
.header-triangle {
  margin-left: 3px;
}
.header-search {
  margin-left: 18px;
}
.header-search-forms {
  display: flex;
  align-items: center;
}
.header-search-form {
  margin-right: 5px;
  position: relative;
  input {
    width: 230px;
    border: 1px solid #333;
    font-size: 0.8rem;
    padding: 5px 8px 5px 25px;
    height: 31px;
  }
  input:focus {
    border-color: rgb(89, 89, 255);
    box-shadow: 0 0 5px 0 rgb(89, 89, 255);
    outline: 0;
    transition: all .3s;
  }
  i {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 1rem;
  }
}
.header-hidden-form {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.header-search-submit {
  input {
    cursor: pointer;
    color: #fff;
    background: repeating-linear-gradient(135deg, #333, #333 20px, #3c3c3c 20px, #3c3c3c 40px);
    border: 1px solid #333;
    font-size: 0.8rem;
    transition: all .2s;
    padding: 5px 8px;
  }
}
.under-header {
  height: 48px;
  background-color: #fff;
}
.nav_toggle,
.nav_toggle_sp {
  i {
    transition: transform .5s;
  }
}
.nav_toggle.show,
.nav_toggle_sp.show {
  i {
    transform: rotate(180deg);
  }
}
.nav,
.nav_sp {
  position: fixed;
  top: 50px;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(160, 166, 179, 0.5);
  opacity: 0;
  visibility: hidden;
}
.nav {
  right: 29px;
}
.nav_sp {
  left: 35px;
}
.nav.show,
.nav_sp.show {
  opacity: 1;
  visibility: visible;
}
.nav_menu_li {
  a {
    height: 33px;
  }
}
@media screen and (min-width: 521px) {
  .nav_toggle_sp,
  .nav_sp {
    display: none !important;
  }
}
@media screen and (max-width: 960px) {
  .header-container {
    padding: 0 1px;
  }
  .header-right {
    img {
      margin-right: 0;
    }
  }
  .header-search,
  .header-user-name {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  header {
    height: 40px;
    font-size: 0.7rem;
  }
  .header-container {
    a,
    span.nav_toggle,
    span.nav_toggle_sp {
      height: 40px;
      margin: 0 5px;
    }
  }
  .header-right {
    img {
      width: 32px;
      height: 32px;
    }
  }
  .header-home {
    font-size: 1rem;
  }
  .under-header {
    height: 40px;
  }
  .pc-tb-only {
    display: none !important;
  }
  .nav_toggle_sp,
  .nav_sp {
    display: block
  }
  .nav,
  .nav_sp {
  top: 42px;
  padding: 5px 7px;
}
  .nav {
    right: 6px;
  }
}

/*=== FOOTER ===*/
footer {
  width: 100%;
  background-color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  border-top: 1px solid #eee;
  padding: 15px 10px;
  position: sticky;
  top: 100vh;
}
.footer-container {
  max-width: 950px;
  margin: 0 auto;
}
