* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: #000;
  background-color: #f9fbfe;
}
a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}
hr {
  height: 1px;
  background-color: #eaedef;
  border: none;
  margin: 30px 0;
}
.button {
  width: fit-content;
  display: inline-block;
  border: 1px solid #0069d8;
  border-radius: 5px;
  padding: 8px;
  font-size: 0.9rem;
  transition: all .3s;
}
.button:hover {
  letter-spacing: 1px;
}

/*=== HEADER ===*/
header {
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.5);
  font-size: 0.8rem;
  letter-spacing: 1px;
  z-index: 100;
}
.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
  a {
    font-weight: bold;
    margin: 0 9px;
    transition: all .2s;
  }
  a:hover {
    opacity: 0.6;
  }
}
.under-header {
  height: 48px;
}

/*=== FOOTER ===*/
footer {
  text-align: center;
  width: 100%;
  background-color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  border-top: 1px solid #eee;
  padding: 15px 0;
  position: sticky;
  top: 100vh;
}
