.top {
  width: 100%;
}
.top-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  height: 70vh;
  background-image: url("/background_images/background_image_1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
@media screen and (max-width: 520px) {
  .top-title-area {
    height: 60vh;
  }
}
.top-title-container {
  padding: 20px;
  color: #fff;;
}
.top-h1-pc {
  font-family: 'Dela Gothic One', cursive;
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.top-h1-tb {
  display: none;
}
@media screen and (max-width: 960px) {
  .top-h1-pc {
    display: none;
  }
  .top-h1-tb {
    display: block;
    font-family: 'Dela Gothic One', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 2.5rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 520px) {
  .top-h1-tb {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 8px;
  }
}
.top-p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
@media screen and (max-width: 520px) {
  .top-p {
    font-size: 0.65rem;
  }
}
.top-button {
  width: 300px;
  margin: 0 auto 10px;
  color: #fff450;
}
@media screen and (max-width: 960px) {
  .top-button {
    width: 100%;
  }
}
.top-buttons-header {
  margin: 50px 0 3px;
}
@media screen and (max-width: 960px) {
  .top-buttons-header {
    margin: 25px 0 0;
  }
}
.top-button-first {
  background-color: #fff450;
  color: #333;
}
.top-button-second {
  margin-right: 8px;
}
@media screen and (max-width: 520px) {
  .top-title-hr {
    margin: 20px 0;
  }
}
.top-search-area {
  padding-bottom: 20px;
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 520px) {
  .top-search-area {
    h2 {
      font-size: 1rem;
    }
  }
}
.top-search-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.top-search-form {
  margin-right: 5px;
  position: relative;
  input {
    width: 251px;
    border: 1px solid #333;
    font-size: 0.8rem;
    padding: 5px 8px 5px 25px;
    height: 40px;
    border-radius: 5px;
  }
  input:focus {
    border: 2px solid #fff450;
    outline: 0;
    transition: all .3s;
  }
  i {
    position: absolute;
    top: 12px;
    left: 7px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 960px) {
  .top-search-form {
    width: 100%;
    input {
      width: 100%;
    }
  }
}
.top-hidden-form {
  opacity: 0;
  width: 0;
  height: 0;
}
.top-search-submit {
  input {
    cursor: pointer;
    color: #333;
    background-color: #fff450;
    border: 1px solid #333;
    font-size: 0.8rem;
    transition: all .2s;
    padding: 5px 8px;
    width: 44px;
    height: 40px;
    border-radius: 5px;
  }
}
.posts-area {
  text-align: center;
  padding: 25px 10px;
}
.posts-container {
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  max-width: 950px;
  margin: 0 auto;
  padding: 20px 30px;
  h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 520px) {
  .posts-container {
    padding: 20px 15px;
    h2 {
      font-size: 1.3rem;
    }
  }
}
.posts-container:first-child {
  margin-bottom: 50px;
}
.posts-button {
  width: 100%;
  margin-top: 7px;
  border-color: #333;
  color: #fff450;
  background: repeating-linear-gradient(135deg, #333, #333 20px, #3c3c3c 20px, #3c3c3c 40px);
}
.gear-powers-area {
  text-align: center;
  padding: 25px 10px;
  background-image: url("/background_images/background_image_3.png");
}
.gear-powers-container {
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  max-width: 950px;
  margin: 0 auto;
  padding: 20px 30px;
  h2 {
    font-size: 1.8rem;
    color: #fff;
  }
}
@media screen and (max-width: 520px) {
  .gear-powers-container {
    padding: 20px 15px;
    h2 {
      font-size: 1.3rem;
    }
  }
}
.gear-powers-table {
  max-width: 700px;
  margin: 14px auto;
  font-size: 0.9rem;
  img {
    width: 45px;
    margin-right: 5px;
  }
  a {
    color: #fff;
  }
  table {
    border: none;
    width: 100%;
    table-layout: fixed;
  }
  td,
  th {
    border: none;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }
  td:first-child,th:first-child {
    border-left:none;
  }
  tr:first-child td,tr:first-child th {
    border-top:none;
  }
}
@media screen and (max-width: 520px) {
  .gear-powers-table {
    font-size: 0.85rem;
    img {
      margin-right: 0px;
    }
  }
}
.gear-powers-table-td {
  display: flex;
  align-items: center;
  padding: 6px;
}
@media screen and (max-width: 550px) {
  .gear-powers-table-td {
    flex-direction: column;
  }
}
.gear-powers-button {
  width: 100%;
  margin-top: 7px;
  color: #333;
  background-color: #fff;
  border-color: #fff;
}
