/*=== COMMON ===*/
.posts {
  padding-top: 5px;
}
.post {
  margin: 7px 0;
  padding: 8px 20px;
  border-bottom: 1px solid #333;
}
@media screen and (max-width: 520px) {
  .post {
    padding: 8px 0;
  }
}
.post:first-child {
  border-top: 1px solid #333;
}
.post-container {
  max-width: 700px;
  margin: 0 auto;
}
.toggle-radio-top {
  max-width: 400px;
  label {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 520px) {
  .toggle-radio-top {
    max-width: 280px;
    label {
      font-size: 1.3rem;
    }
  }
}
.post-header-user {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 7px;
}
.post-user-icon {
  height: 35px;
  img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.post-user-info {
  padding-left: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 520px) {
  .post-user-info {
    a {
      font-size: 0.8rem;
    }
  }
}
.post-user-time {
  font-size: 0.7rem;
}
.post-header-title {
  text-align: left;
}
.post-title {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-recommend {
  font-size: 0.7rem;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.post-center {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.post-center-one {
  width : calc(100% / 3);
  border: 1px solid #333;
  border-radius: 7px;
  padding-top: 2px;
}
.post-center-one:nth-child(2) {
  margin: 0 10px;
}
@media screen and (max-width: 520px) {
  .post-center-one:nth-child(2) {
    margin: 0 3px;
  }
}
.post-gearcategory {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  p {
    margin-left: 3px;
  }
}
.post-hr {
  width: 80%;
  background-color: #333;
  margin: 0 auto;
}
.post-gearpowers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
@media screen and (max-width: 960px) {
  .post-gearpowers {
    flex-direction: column;
  }
}
.post-main-gearpower {
  margin: 0 3px;
  img {
    width: 50px;
  }
}
@media screen and (max-width: 520px) {
  .post-main-gearpower {
    height: 47px;
    img {
      width: 40px;
    }
  }
}
.post-sub-gearpowers {
  margin: 0 3px;
  img {
    width: 35px;
  }
}
@media screen and (max-width: 520px) {
  .post-sub-gearpowers {
    margin: 0 1px 3px;
    display: flex;
    justify-content: center;
    img {
      width: 23px;
      margin: 0 1px;
    }
  }
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  i {
    margin-right: 4px;
  }
}
.posts-sort {
  ul {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .posts-sort {
    font-size: 0.85rem;
    ul {
      flex-direction: column;
    }
  }
}
@media screen and (min-width: 581px) {
  .posts-sort {
    padding: 0 20px;
    font-size: 0.9rem;
  }
}
.posts-sort-left {
  width: 165px;
}
.posts-sort-right {
  display: flex;
  span {
    margin: 0 10px;
  }
}
.posts-sort-hr {
  margin: 8px 0;
}
.posts-search {
  input,
  select {
    border: 1px solid #333;
  }
  input[type="checkbox"] {
    width: 21px;
    height: 21px;
    margin-right: 5px;
    cursor: pointer;
  }
  input:focus,
  select:focus {
    border-color: rgb(89, 89, 255);
    box-shadow: 0 0 5px 0 rgb(89, 89, 255);
    outline: 0;
    transition: all .3s;
  }
  label {
    display: flex;
    cursor: pointer;
  }
}
.posts-search-container {
  max-width: 700px;
  margin: 0 auto;
}
.posts-search-form {
  input {
    padding: 8px;
  }
  select {
    padding: 8px 3px;
  }
}
.parent-label {
  width: 150px;
}
.posts-search-submit {
  input {
    width: 100%;
    cursor: pointer;
    color: #fff450;
    background: repeating-linear-gradient(135deg, #333, #333 20px, #3c3c3c 20px, #3c3c3c 40px);
    font-size: 0.9rem;
    transition: all .3s;
    padding: 5px 10px;
  }
}
.label-in-label {
  display: flex;
}
@media screen and (max-width: 580px) {
  input,
  select {
    width: 100%;
  }
  .posts-search {
    font-size: 0.85rem;
    label {
      margin-right: 11px;
    }
  }
  .posts-search-form {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 581px) {
  .posts-search {
    padding: 0 20px;
    font-size: 0.9rem;
    label {
      margin-right: 15px;
    }
  }
  .posts-search-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input,
    select {
      width: calc(100% - 165px)
    }
  }
}

/*=== POSTS/NEW ===*/
@media screen and (max-width: 630px) {
  .radio-gear-power {
    width: 100%;
  }
}
@media screen and (min-width: 631px) {
  .radio-gear-power {
    width: 68%;
  }
}
.radio-gear-power {
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    background-size: contain;
    width: 40px;
    height: 40px;
    opacity: 0.7;
  }
  input[type="radio"]:hover+label::before {
    opacity: 1;
  }
  input[type="radio"]:checked+label::before {
    border: 4px solid rgb(89, 89, 255);
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(89, 89, 255, 0.9);
    opacity: 1;
  }
}
input[type="radio"][value="1"]+label::before {
  background-image: url("/gear_powers/gear_power_1.png");
  cursor: pointer;
}
input[type="radio"][value="2"]+label::before {
  background-image: url("/gear_powers/gear_power_2.png");
  cursor: pointer;
}
input[type="radio"][value="3"]+label::before {
  background-image: url("/gear_powers/gear_power_3.png");
  cursor: pointer;
}
input[type="radio"][value="4"]+label::before {
  background-image: url("/gear_powers/gear_power_4.png");
  cursor: pointer;
}
input[type="radio"][value="5"]+label::before {
  background-image: url("/gear_powers/gear_power_5.png");
  cursor: pointer;
}
input[type="radio"][value="6"]+label::before {
  background-image: url("/gear_powers/gear_power_6.png");
  cursor: pointer;
}
input[type="radio"][value="7"]+label::before {
  background-image: url("/gear_powers/gear_power_7.png");
  cursor: pointer;
}
input[type="radio"][value="8"]+label::before {
  background-image: url("/gear_powers/gear_power_8.png");
  cursor: pointer;
}
input[type="radio"][value="9"]+label::before {
  background-image: url("/gear_powers/gear_power_9.png");
  cursor: pointer;
}
input[type="radio"][value="10"]+label::before {
  background-image: url("/gear_powers/gear_power_10.png");
  cursor: pointer;
}
input[type="radio"][value="11"]+label::before {
  background-image: url("/gear_powers/gear_power_11.png");
  cursor: pointer;
}
input[type="radio"][value="12"]+label::before {
  background-image: url("/gear_powers/gear_power_12.png");
  cursor: pointer;
}
input[type="radio"][value="13"]+label::before {
  background-image: url("/gear_powers/gear_power_13.png");
  cursor: pointer;
}
input[type="radio"][value="14"]+label::before {
  background-image: url("/gear_powers/gear_power_14.png");
  cursor: pointer;
}
input[type="radio"][value="15"]+label::before {
  background-image: url("/gear_powers/gear_power_15.png");
  cursor: pointer;
}
input[type="radio"][value="16"]+label::before {
  background-image: url("/gear_powers/gear_power_16.png");
  cursor: pointer;
}
input[type="radio"][value="17"]+label::before {
  background-image: url("/gear_powers/gear_power_17.png");
  cursor: pointer;
}
input[type="radio"][value="18"]+label::before {
  background-image: url("/gear_powers/gear_power_18.png");
  cursor: pointer;
}
input[type="radio"][value="19"]+label::before {
  background-image: url("/gear_powers/gear_power_19.png");
  cursor: pointer;
}
input[type="radio"][value="20"]+label::before {
  background-image: url("/gear_powers/gear_power_20.png");
  cursor: pointer;
}
input[type="radio"][value="21"]+label::before {
  background-image: url("/gear_powers/gear_power_21.png");
  cursor: pointer;
}
input[type="radio"][value="22"]+label::before {
  background-image: url("/gear_powers/gear_power_22.png");
  cursor: pointer;
}
input[type="radio"][value="23"]+label::before {
  background-image: url("/gear_powers/gear_power_23.png");
  cursor: pointer;
}
input[type="radio"][value="24"]+label::before {
  background-image: url("/gear_powers/gear_power_24.png");
  cursor: pointer;
}
input[type="radio"][value="25"]+label::before {
  background-image: url("/gear_powers/gear_power_25.png");
  cursor: pointer;
}
input[type="radio"][value="26"]+label::before {
  background-image: url("/gear_powers/gear_power_26.png");
  cursor: pointer;
}
input[type="radio"][value="27"]+label::before {
  background-image: url("/gear_powers/gear_power_27.png");
  cursor: pointer;
}

/*=== POSTS/SHOW ===*/
.title-footer {
  display: flex;
  align-items: center;
}
.button-under-title {
  width: fit-content;
  margin-top: 15px;
  a {
    display: block;
  }
}
.bookmark-button,
.edit-button,
.destroy-button {
  border-radius: 3px;
  padding: 6px 8px;
  margin-right: 10px;
  color: #fff;
  font-size: 0.9rem;
  transition: all .3s;
}
.bookmark-button {
  display: flex;
  align-items: center;
  background-color: #2db68f;
  border: 1px solid #2db68f;
}
.edit-button {
  background-color: rgb(100, 100, 255);
  border: 1px solid rgb(100, 100, 255);
}
.destroy-button {
  background-color: rgb(253, 90, 90);
  border: 1px solid rgb(253, 90, 90);
}
@media screen and (max-width: 520px) {
  .bookmark-button,
  .edit-button,
  .destroy-button {
    padding: 3px 6px;
  }
}
.in-td-row {
  display: flex;
  align-items: center;
  width: fit-content;
}
.in-td-gp {
  margin-bottom: 3px;
}
.in-td-gp:last-child {
  margin-bottom: 0;
}
.in-td-label-main,
.in-td-label-sub {
  width: 45px;
  text-align: center;
  padding: 1px 2px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: bold;
}
.in-td-label-main {
  border: 2px solid rgb(111, 111, 243);
  color: rgb(111, 111, 243);
}
.in-td-label-sub {
  border: 2px solid rgb(90, 90, 90);
  color: rgb(90, 90, 90);
}
@media screen and (max-width: 520px) {
  .in-td-label-main,
  .in-td-label-sub {
    width: 40px;
    padding: 1px;
    font-size: 0.7rem;
  }
}
.post-show-comment {
  font-size: 0.9rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .post-show-comment {
    font-size: 0.85rem;
  }
}
.post-show-favorited {
  margin-bottom: 10px;
  h3 {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-right: 10px;
    padding-left: 7px;
    border-left: 2px solid #333;
  }
  a {
    transition: all .3s;
  }
  i {
    margin-right: 4px;
  }
}
@media screen and (max-width: 520px) {
  .post-show-favorited {
    h3 {
      font-size: 1.15rem;
      line-height: 1.5rem;
      margin-bottom: 10px;
    }
    a {
      width: fit-content;
    }
  }
}
@media screen and (min-width: 521px) {
  .post-show-favorited {
    display: flex;
    align-items: center;
  }
}
.post-show-favorited-container {
  font-size: 0.9rem;
  margin-bottom: 30px;
  li {
    margin-bottom: 5px;
  }
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 5px;
  }
}
@media screen and (max-width: 520px) {
  .post-show-favorited-container {
    font-size: 0.85rem;
  }
}
