<% provide(:title, "ギアパワー一覧") %>
<% breadcrumb :gear_powers_index %>
<div class="whole">
  <div class="title">
    <div class="title-container">
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <h2>ギアパワー一覧</h2>
      <p>ギアパワー一覧では、全ギアパワーの効果や付きやすいブランド、付きにくいブランドを掲載しています。</p>
    </div>
  </div>
  <div class="main">
    <div class="main-container">
      <div class="gearpowers-index-table-scroll">
        <div class="gearpowers-index-table">
          <table>
            <thead>
              <tr>
                <th>ギアパワー</th>
                <th>略称</th>
                <th width="25%">効果</th>
                <th>メイン部位</th>
                <th>付きやすいブランド</th>
                <th>付きにくいブランド</th>
              </tr>
            </thead>
            <tbody>
              <%= render @gear_powers %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "＋投稿する", new_post_path, class: "fixed_to_post_link" %>
